<% layout('layouts/boilerplate') %> 
<button onclick = "topFunction()" id = "myBtn"></button>
<div id= "map" style= "width: 100%; height: 500px"></div>
    <h1>All Campgrounds!</h1>
    <h3><%= noMatch  %> </h3>
    <form action="/campgrounds" method="GET" class="form-inline ml-auto">
        <div class="form-group">
            <input type="text" name="search" placeholder="Campground search..." class="form-control">
            <input type="submit" value="Search" class="btn btn-primary">
        </div>
    </form>
    <a href="/campgrounds" class= "ml-auto">View All Campgrounds</a>
    <div class="container">
        <div class="row">
        <% for(let campground of campgrounds) {  %> 
           <div class="card mb-3 col-md-4 col-sm-6" >
           
               
                   <% if(campground.images.length) { %> 
                   <img src="<%=campground.images[0].url  %> " alt="" class="img-fluid">
                   <% } else { %> 
                    <img src="" alt="">
                    <% } %> 
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                    
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a href="/campgrounds/<%= campground.id  %> " class="btn btn-primary">View Details</a>
                    </div>
            </div>
        <% } %>  
        </div>
    </div>
        <script>
            const mapToken = '<%- process.env.MAPBOX_TOKEN%>';
            const campgrounds = { features: <%- JSON.stringify(campgrounds)%> } 
        </script>
        <script src= "/scripts/clusterMap.js">
        </script>
    
